<h1 style="text-align:center;">Mes Prédictions</h1>

<table style="border-collapse: collapse; width: 90%;margin: 0 auto;">
  <thead>
    <tr>
      <th style="border: 1px solid #ccc; padding: 10px; text-align: left;">Rêve</th>
      <th style="border: 1px solid #ccc; padding: 10px; text-align: left;">Prédiction</th>
      <th style="border: 1px solid #ccc; padding: 10px; text-align: left;">Date</th>
    </tr>
  </thead>
  <tbody>
    <% @predictions.each do |prediction| %>
      <tr>
        <td style="border: 1px solid #ccc; padding: 10px;"><%= prediction.dream %></td>
        <td style="border: 1px solid #ccc; padding: 10px;"><%= prediction.prediction %></td>
        <td style="border: 1px solid #ccc; padding: 10px;"><%= prediction.created_at.strftime('%d/%m/%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
