<h1 style="text-align:center;">Mes Prédictions</h1>

<div class="container-fluid">
  <div class="row justify-content-evenly">
    <% @predictions.each do |prediction| %>
      <div class="col-12 col-md-5">
        <div class="card h-100" style="border: 1px solid black; width: 100%;">
          <div class="card-body" style="flex: none;">
            <h5 class="card-title">Rêve :</h5>
            <p class="card-text"><%= prediction.dream %></p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Prédiction :</h5>
            <p class="card-text"><%= prediction.prediction %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Prédit le : <%= prediction.created_at.strftime('%d/%m/%Y') %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
