<div class="prediction-show">
  <div class="prediction-show__card">
    <h2 class="prediction-show__title">Détails de la prédiction</h2>
    <p class="prediction-show__reve">Rêve: <%= @reve %></p>
    <p class="prediction-show__prediction">Prédiction: <%= @prediction_result %></p>
  </div>
</div>

