<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="title">
        <h1>L'Institut International des Rêves</h1>
      </div>
      <div class="content">
        <p>Institut International des Rêves est une organisation française qui se concentre sur l'étude et l'interprétation des rêves. Ils offrent des ressources et une formation pour les personnes intéressées par l'analyse de leurs rêves et la compréhension de leur subconscient. L'institut propose également des programmes de certification pour les professionnels qui souhaitent devenir des thérapeutes ou des coachs de rêve.</p>
      </div>
    </div>

    <div class="col-12 jungo">
      <div class="title2">
        <h2>Onirix</h2>
      </div>
      <div class="content">
        <p>Onirix est une entreprise de logiciels spécialisée dans l'analyse et l'interprétation des rêves grâce à l'utilisation de l'intelligence artificielle (IA) et de la technologie de réalité virtuelle (RV). Leur plateforme permet aux utilisateurs de suivre et d'analyser leurs rêves, ainsi que de se connecter avec une communauté d'enthousiastes et d'experts en rêves. Onirix offre également une gamme d'outils et de fonctionnalités pour aider les utilisateurs à obtenir un aperçu de leur subconscient et à explorer les significations potentielles de leurs rêves.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-pred">
</div>
