.buttons {
  margin: 0 auto;
  background: transparent;
  border-color: $purple;
  color: $purple;
  border: 1px solid;


  &:hover {
    background-color: $black;
    border-color: $purple;
    color: $purple;
    transition: ease-in-out(4s);
  }

  &.forms-prediction{
    text-align: center;
    padding: 10px 132px;

    @media (min-width: 768px) and (max-width: 1024px)  {
      padding: 10px 99px;
    }
  }
}
