.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container-pred {
  margin: auto;
}

.container-fluid {
  width: 83.4%;
}

.container-global {
  width: 100%;
}

.container-home {
  width: 82%;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 70px;

  .g-recaptcha {
    div:first-child {
      width: 100% !important;
    }
  }
}

#predictions {
  @media screen and (min-width: 1200px) {
    width: 27.333333% !important;
    margin-left: auto;
  }


  @media screen and (max-width: 1200px) {
    margin-left: 0;
  }

  .forms-label,
  .forms-msg {
    margin-bottom: 22px;
  }

  .forms-label {
    font-size: 20px;
  }

  .forms-msg {
    width: 100%;
    height: 165px;
    border-radius: 3px;
    text-align: center;

    &:hover {
      border-color: $purple;
    }
  }

  .forms-prediction {
    margin-bottom: 22px;
    border-radius: 3px;

    &.buttons {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

#title {
  margin-bottom: 60px;
  font-size: 2.5rem;
}